header {width: 100%; height: 1rem;}
.logo {font-size: 3rem; height: 3rem; margin-left: 1.5rem;}
#top {display: flex; float: right; margin-right: 1.5rem; font-size: 1.5rem; height: 3rem;}
#menu {clear: both; font-size: 1.5rem; height: 2.75rem;
    display: flex; align-items: center; justify-content: center;}
#menu li {display: inline-block; padding-right: 6rem}